:root {

  --c-bg: #15121C;
  --c-dark: #333332;
  --c-white: #D9D9D9;
  --c-green: #DEFF9C;
  --c-cuprum: #B5897C;

  --f-text: 'Darker Grotesque';
  --f-gothic: 'UnifrakturMaguntia';

}

.site-wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

a {
  /* font-weight: 500; */
  color: var(--c-green);
  font-size: calc(18px + 0.3vw);
  /* text-decoration: inherit; */
  text-decoration: none;
  font-family: var(--f-text);

}

a:hover {
  color: var(--c-white);
}

strong {
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  font-family: var(--f-text);
  background-color: var(--c-bg);
  color: var(--c-white);

}

h1 {
  /* font-size: 3.2em; */
  font-size: calc(36px + 1vw);
  font-family: var(--f-text);
  font-weight: 800;
  line-height: 1;
  margin: 0;
  margin-bottom: 3rem;
  /* max-width: 600px; */
}

h2 {
  font-family: var(--f-gothic);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: calc(40px + 1.5vw);
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: var(--f-gothic);
  font-size: calc(32px + 1.5vw);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-family: var(--f-gothic);
  font-size: calc(24px + 1.5vw);
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

section {
  /* width: 100%; */
  /* width: 100vh; */
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1.5rem;
  /* width: 100%; */
}

article {
  width: 100%;
}

p {
  font-size: 18px;
  font-size: calc(18px + 0.3vw);
  /* min-width: 350px; */
  max-width: 580px;
  /* width: 300px; */
  max-inline-size: 66ch;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* font-size: clamp(1rem,  2rem); */
}


header {
  width: 100%;
  height: 10vh;
}


.logo img {
  /* height: 100%; */
  background-color: var(--c-bg);
  padding: 0.5rem;
}

nav {
  display: flex;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to top, transparent 0%, var(--c-bg)100%);
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);

  /* For Safari support */
  /* flex-direction: column; */
  /* width: 100%; */
  justify-content: space-between;
  z-index: 10;
  /* align-items: start; */
}

.navigation {
  display: flex;
  /* display: none; */
  flex-direction: row;
  justify-content: end;
  /* width: 100%; */
  gap: 10vw;
  padding: 0;
  list-style: none;
  font-size: calc(15px + 1vw);
  color: var(--c-green);
  /* justify-content: space-around; */
  margin: 0;

}


.navigation li a {
  font-size: calc(10px + 0.7vw);
}



.navigation li:hover,
.menu_navigation li:hover {
  color: var(--c-white);
  border-bottom: solid 1px var(--c-white);
}

.hamburger_menu {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
}

.close-icon.block {
  display: block;
}

.hamburger-icon.none {
  display: none;
}


/* .hamburger .close-icon {
  display: none;
} */

.menu_navigation {
  display: none;

  padding: 0;
  /* list-style: none;
  text-align: left;
  font-size: calc(15px + 1vw); */
  color: var(--c-green);
  /* justify-content: space-around; */
}

.menu_navigation h2 {
  margin-top: 2rem;
  color: var(--c-white);
}

.menu_footer {
  display: none;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  /* margin-right: 1rem; */
  padding-right: 1rem;
  width: 100%;
}

.menu_footer a {
  color: var(--c-cuprum);
  font-weight: 500;
}

.logo-footer {
  background-color: var(--c-dark);
  padding: 0.5rem;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 50%; */
  /* visibility: hidden; */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* .menu_navigation.active+.overlay {
  opacity: 1;
  visibility: visible;
} */




@media (max-width: 50em) {

  .navigation {
    display: none;
  }

  .hamburger_menu {
    display: flex;
  }

  .hamburger {
    display: block;
    z-index: 2;
  }

  .menu_footer {
    display: flex;
  }

  .menu_navigation {
    display: none;
    /* position: fixed; */
    position: absolute;
    /* height: 100vh; */
    height: 100vh;
    top: 0;
    left: 30%;
    right: 0;
    margin: 0;
    background-color: var(--c-white);
    z-index: 1;
  }

  .menu_navigation.active {
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1rem;
    /* width: 100%; */


  }

  .menu_navigation h2 {
    color: var(--c-dark);
  }

  .menu_navigation ul {
    display: block;
    /* gap: 2rem; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0;
    width: 100%;
    gap: 3rem;

  }

  .menu_navigation ul li {
    font-size: xx-large;
    border-bottom: solid 2px var(--c-cuprum);

    list-style: none;
    text-align: left;
  }

  .menu_navigation ul li a {
    color: var(--c-cuprum);
    font-weight: 500;
  }

}


.header_page {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-top: 0;
  margin-top: 2rem;
  /* height: 80vh; */
  background-repeat: no-repeat;
  background-image: url(./assets/home-bg-mobile.svg);
  background-position: top center;
  background-size: contain;
  height: 90vh;
  /* background-size: cover; */
}

.header_page_header {
  width: 100%;

}

@media (min-width: 50em) {
  .header_page {
    background-image: url(./assets/home-bg.svg);
    flex-direction: row;
    height: 90vh;
    margin-top: 0rem;
    background-position: center;
    justify-content: center;
    padding-right: 0;

  }

  nav {
    display: flex;
    flex-direction: row;
    /* height: 7vh; */
  }




  .header_page_header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: calc(24px + 1.5vw);
    width: 100%;
  }


}

@media (max-width: 90em) {
  .plantin-portret {
    width: 45vw;
  }

}

@media (max-width: 50em) {
  .plantin-portret {
    width: 40vh;
  }

}



.intro {
  /* height: 200vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20vh;
  margin-bottom: 30vh;
}

.intro_gravures,
.garamond_gravures,
.engravings-gravures {
  /* width: 80vh; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  /* width: 800%; */
  padding: 0;
  /* width: fit-content; */
  height: 90vh;
  /* height: fit-content; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* justify-content: baseline; */
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding-top: 10vh;
  /* overflow-x: hidden;
  max-width: 100vw; */
}

.timecodes {
  flex: 1;
  /* height: 50%; */
  width: 100%;
  /* height: 6rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-items: center; */
  gap: 4rem;
  position: relative;
}

/* timeline line */
.timecodes::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--c-green);
  position: absolute;
  bottom: 5rem;
}

.timecode--start {
  text-align: center;
  color: var(--c-greenz);
}

.timecode {
  --padding: 1rem;
  /* --border: 1px; */
  /* width: fit-content; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  padding: var(--padding);
}

/* timecode lines */
.timecode::after {
  flex: 1;
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  /* height: 2rem; */
  background-color: var(--c-white);
  align-self: center;


}

/* timecode circles */
.timecode::before {
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  /* background-color: var(--c-green); */
  align-self: center;
  border-radius: 50%;
  border: solid 2px var(--c-green);
  order: 1;
}

.timecode_date {
  font-family: var(--f-gothic);
  font-size: x-large;
  margin-top: 1rem;
  order: 2;
}

/* div.timecode {
  /* padding-top: 3rem; */
/* height: 100vh; */


.timecode p {
  /* width: 300px; */
  /* max-width: 300px; */
  /* min-width: 250px; */
  /* width: fit-content; */
}

.timecode_p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: fit-content;
}

/* .timecode--1520 {
  padding: 3rem;
  background-image: url(./assets/frame-1520.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
} */

.timecode--1555 {
  /* width: fit-content; */
  /* padding: 5rem; */
  /* background-image: url(./assets/frame-1555.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.timecode--1567 {
  /* width: fit-content;*/
  /* padding: 5rem; */
  /* min-width: 100px; */
  /* background-image: url(./assets/frame-1567.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}










.letters_section {
  background: linear-gradient(to bottom, var(--c-bg), var(--c-white));
  position: relative;
  /* Allow positioning of child elements */
  width: 100%;
  /* Fit the parent container */
  height: 100vh;
  /* Set a fixed height (adjust as needed) */
  overflow: hidden;
  padding-top: 10vh;

}

.woodblock_transition {
  background: linear-gradient(to top, var(--c-bg), var(--c-white));
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 10vh;
}

.letters_section div,
.woodblock_transition div {
  position: absolute;
  /* Position divs relative to the parent */
  /* top: 0;
  left: 0; */
  width: 100%;
  /* Make each div the full width of the parent */
  height: 100%;
  /* Make each div the full height of the parent */
}

.letters_section div img {
  position: absolute;
  /* Position images within the div */
  top: 0;
  /* bottom: 0; */
  /* bottom: 50%; */
  left: 0;
  /* width: 100%; */
  /* Make images fit within the div */
  max-height: 100%;
  /* Scale images to fit the div */
  object-fit: cover;
  /* Ensure images cover the area without distortion */
}

.woodblock_transition div img {
  position: absolute;
  /* Position images within the div */
  top: 0;
  /* bottom: 0; */
  /* bottom: 50%; */
  left: 0;
  max-height: 80%;
  max-width: 50%;
  /* width: 100%; */
  /* Make images fit within the div */
  /* max-width: 100%;
  max-height: 100%; */
  /* Scale images to fit the div */
  object-fit: cover;
}

.transition_1 {
  /* z-index: 3; */
  top: 5%;
  left: -45%;
}

.transition_1 img {
  opacity: 0.5;
}

.transition_2 {
  /* z-index: 4; */
  left: 10%;
  top: 20%;
}

.transition_2 img {
  opacity: 0.5;
}

.transition_3 {
  left: 15%;
}

.transition_4 {
  left: 30%;
  top: 50%;
}

.transition_5 {
  left: 40%;
  top: 20%;
}

.transition_6 {
  left: 60%;
  top: 20%;
}

.transition_7 {
  left: 55%;
}

.transition_8 {
  left: 80%;
  /* top: 30%; */
}

.transition_8 img {
  opacity: 0.5;
  /* top: 30%; */
}




.transition-1 {
  width: 50vw;
  left: -10%;
  top: 10%;
  opacity: 0.5;
}


.transition-2 {
  left: 10%;
  top: 40%;
  opacity: 0.5;
}

.transition-3 {
  left: 10%;
  top: 0%;
  /* opacity: 0.5; */
}

.transition-4 {
  left: 40%;
  top: 0%;
  /* opacity: 0.5; */
}

.transition-5 {
  left: 60%;
  top: 20%;
  /* opacity: 0.5; */
}

.transition-5 img {
  height: 60vh;
}

.transition-6 {
  left: 70%;
  top: 0%;
  opacity: 0.5;
}

.typography,
.engravings,
.woodblock_section {
  background-color: var(--c-white);
  color: var(--c-dark);
  font-weight: 500;
  /* width: 100%; */
}

.typography_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(./assets/typography-bg.svg);
  background-size: contain;
  background-position: top;
  background-position: center;
  height: 100vh;
  /* padding: 0; */
  background-repeat: no-repeat;
}




.typing_quest {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 90vh;
}

.typing_quest p {
  max-width: 500px;
}

.quest_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}




@media (min-width: 50em) {
  .typography_intro {
    background-position: center;
  }

  .quest_content {
    flex-direction: row;
  }

  .quest_instructions h3 {
    text-align: left;
  }

  .transition_1 {
    left: -10%;
  }

}

.punches_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.punches_field p {
  color: var(--c-cuprum);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.punches {
  /* width: 100%; */
  display: flex;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
}

.punches div img {
  width: 100%;
}

.letter_spaces {
  display: flex;
  width: 100%;
  /* height: fit-content; */
  height: calc(100% / 8);

  margin-top: 2rem;
  /* align-items: center; */
  justify-content: center;
  gap: 0;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.letter_spaces div {
  display: flex;
  font-weight: 800;
  font-size: calc(20px + 1vw);
  /* height: 100%; */
  /* font-family: var(--f-gothic); */
  color: var(--c-cuprum);
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* width: 100%; */
  width: 100%;
  background-image: url(./assets/quest-frame.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Cormorant Garamond";
}

.garamond_gravures {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  /* width: fit-content; */
}


/* img.garamond_gravure { */
/* width: 100%; */
/* height: auto; */
/* } */


.garamond {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .engravings-gravure {
  /* width: 100%; 
} */

.engravings-woodblocks {
  background-color: var(--c-white);
}


.engravings {
  /* background-image: url(./assets/engravings-bg-img.png); */
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  background: linear-gradient(to bottom, transparent 0%, var(--c-white)10%);
  /* background-size: contain; */
}


.engravings_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/engravings-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.engraving_techniques {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  /* gap: 2rem; */
}

/* .techniques_content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
} */

.techniques_content h3 {
  text-align: left;
}

.techniques_content p {
  max-width: 480px;
}

.engraving_tools {
  display: flex;
  width: 100%;
  /* max-width: 50rem; */
  /* width: fit-content; */
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/eng-tools-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  gap: 1rem;
  /* padding: 2.5rem; */
  /* padding-bottom: 1.5rem;
  padding-top: 1.5rem; */
  padding: 4rem;
}

.engraving_tools h4 {
  font-size: calc(18px + 1vw);
}

.tools_list {
  list-style: decimal;
  /* list-style-position: outside; */
  /* list-style-position: inherit; */
  /* text-align: end; */
  width: 60%;
  margin: 0;
  padding-left: 1rem;
  width: fit-content;
  /* text-align: center; */
  /* display: flex; */
}

.tool_item {
  padding-top: 1rem;
  align-self: center;
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  /* padding-bottom: 1rem; */
  /* width: 100%; */
  /* list-style: circle; */
}

.tool_item::marker {
  display: block;
  font-weight: 600;
  color: var(--c-cuprum);
}

.tool_name {
  font-weight: 600;
  text-align: center;
  color: var(--c-cuprum);
  font-size: x-large;
}

/* .tool_item img { */
/* width: 50%; */
/* align-self: center; */


@media (min-width: 50em) {

  .engraving_techniques {
    flex-direction: row;
  }

  .engraving_tools {
    max-width: 50rem;
    width: fit-content;
    /* padding: 4.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem; */
  }



  /* .tools_list {
    margin-right: 1rem;
    margin-left: 1rem;
  } */


}

.woodblocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(./assets/woodblocks.svg);
  background-size: contain;
  background-position: top;
  background-position: center;
  height: 100vh;
  /* padding: 0; */
  background-repeat: no-repeat;
}




.intro_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}






button {
  /* border-radius: 8px; */
  border: 2px solid var(--c-green);
  color: var(--c-white);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: var(--c-bg); */
  background: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--c-white);
}

#doneButton {
  border: 2px solid var(--c-dark);
  /* background-color: var(--c-white); */
  background: none;
  color: var(--c-dark);
}

#doneButton:hover {
  border-color: var(--c-cuprum);
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */





.engraving_workshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  gap: 2rem;
  width: 100%;
}


.printing-game {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  justify-content: baseline;
  margin-top: 20px;
  height: 100%;
  /* height: 80vh; */
  /* height: 100%; */
  /* width: 100%; */
}

.drawing_part {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.printing-game h4 {
  font-family: var(--f-text);
  color: var(--c-cuprum);
  font-size: calc(24px + 0.3vw);
  margin-bottom: 1rem;
}

.drawingCanvas {
  width: 100%;
  background-image: url(./assets/canvas-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 100%;
  height: 100%; */

}

canvas {
  background-color: var(--c-cuprum);
  background: var(--c-cuprum);
  /* border: 2px solid var(--c-cuprum); */
  background-image: url(./assets/canvas-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* width: 20rem;
  height: 20rem; */
}

.engraving_step {
  display: none;
}

.result_step {
  display: none;
}

#anim-box {
  width: 350px;
  height: 350px;
  background: none;
  display: none;
  /* border: 2px solid var(--c-dark); */
  border: none;
}

#engravingAnimation {
  position: absolute;
  /* display: none; */
  /* width: 100%; */
  /* height: 500px; */
  /* height: 100%; */
  /* margin: auto; */
}

.result {
  padding: 2.5rem;
  display: none;
  /* margin-top: 20px; */
  /* position: relative; */
  background-image: url(./assets/papyrus.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#resultCanvas {
  border: none;
  scale: 0.7;
  /* background: none; */
  background-color: transparent;
}


@media (min-width: 50em) {

  .engraving_workshop {
    flex-direction: row;
  }

}


.legacy {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(./assets/legacy-bg.svg);
  background-position: center;
  background-size: contain;
}

.legacy-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legacy-text button {
  margin-top: 2rem;
}